.img50{
    width:50px;
    height:50px;
}

.user-list .um-username-link{
    display: block;
    font-size:1.25em;
    padding-top: 3px;
    margin-left:60px;
}

.user-list .img50{
    position: relative;
    float: left;
    margin-right:15px;
    border:.5px solid #ddd;
}

.user-list.table tbody tr td{
    vertical-align: middle;
    border-top: 1px solid #e7ebee;
    padding: 12px 8px;
}

/*floating button*/
.btn-float{
    position: fixed;
    bottom:58px;
    right:8px;
}

.clickable{
    cursor: pointer;
    pointer-events: initial;
}

.btn-float .btn{
    -webkit-border-radius:100%;
    -moz-border-radius:100%;
    border-radius:100%;
    height:40px;
    width:40px;
}

/*photo selector*/
.photo-selector{
    display: flex;
    justify-content:center;
    cursor: pointer;
}

.img-holder{
    width:200px;
    height:200px;
    background: #eee;
    display: flex;
    justify-content: center;
    align-items:center;
}

.photo-selector img{
    width:100%;
    height:100%;
}