.wrapper{
    width: 100%;
    height:100vh;
    display: flex;
    align-items:center;
    justify-content: center;
}

.trigger-advanced{
    cursor: pointer;
    font-weight:400;
    padding:2px 5px;
    color: #fff;
}

.advanced{
    transition: all ease .5s 0s;
    height:0px;
    overflow: hidden;

}

.container{
    margin-top:80px;
}

.show-me{
    height:150px;
    border-top:none;
    /*border:1px solid #eee;*/
}

.show-me+.trigger-advanced:after{
    content: ' -';
}

.book-display{
    display: flex;
    justify-content: space-between;
}

#searchbar .input-group .form-control:first-child{
    border-bottom-left-radius: 0px;
}

#grad {
    background: #7371ff; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #7371ff , yellow); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #7371ff, yellow); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #7371ff, yellow); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #7371ff , yellow); /* Standard syntax */
}

span.title{
    font-size: 1.8em;
    font-weight:500;
}

.navbar-brand{
    height:70px;
}

.navbar-nav > li > a{
    padding-top:25px;
    padding-bottom: 25px;
}


